# Python bytecode
__pycache__/
*.pyc
*.pyo

# Tests & coverage
tests/
.pytest_cache/
coverage/
htmlcov/
.coverage

# Linting & type checking
.ruff_cache/
.mypy_cache/

# Environment
.env
.env.*

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Virtual environments
.venv/
venv/
